# Frontend URL
FRONTEND_URL=http://localhost:4200


# Creditentials Supabase
SUPABASE_URL=votre_url_supabase
SUPABASE_KEY=votre_cle_publiable_supabase

# API OpenRouteService
ORS_API_KEY=votre_cle_api_openrouteservice

# API France travail
FRANCE_TRAVAIL_CLIENT_ID=votre_client_id_france_travail
FRANCE_TRAVAIL_CLIENT_SECRET=votre_client_secret_france_travail