# Frontend URL
FRONTEND_URL=http://localhost:4200


# Creditentials Supabase
SUPABASE_URL=votre_url_supabase
SUPABASE_KEY=votre_cle_publiable_supabase

# API OpenRouteService
ORS_API_KEY=votre_cle_api_openrouteservice