:host {
    display: block;
    width: 100%;
}

.resultats {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.card {
    width: 100%;
    height: 120px;
    background-color: var(--bg-dark-blue);
    border-radius: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}
