:host {
    display: block;
    width: 100%;
}

.resultats {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.card {
    width: 50%;
    height: 300px;
    background-color: var(--bg-dark-blue);
    border-radius: 20px;
    transition: transform 0.2s;
}

#ligne{
    display: flex;
    align-items: space-between;
    gap : 10px;
}

#colonne{
    display: block;
}

.card:hover {
    transform: scale(1.02);
}
