:host {
    display: block;
    width: 100%;
    min-height: 100px; 
}

.resultats {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resultats h2 {
    font-size: 14px;
    color: var(--bg-dark-blue);
    text-align: center;
    margin-bottom: 10px;
}

.card {
    width: 100%;
    height: 120px;
    background-color: var(--bg-dark-blue);
    border-radius: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}
