<!-- Page d'accueil avec recherche et resultats -->
<div class="accueil">
    <!-- Zone de recherche : barre de recherche + filtres -->
    <div class="recherches">
        <app-searchBar (search)="onSearch($event)"></app-searchBar>
        
        <app-filtre [menus]="'accueil'" (onFiltreChange)="onFiltreChange($event)"></app-filtre>
        
    </div>
    <h2>Résultats de recherche</h2>
    <!-- Grille des resultats de villes -->
    <div class="resultats">
        <app-resultats [query]="searchTerm()" [filtreActuel]="filtreActuel()" ></app-resultats>
    </div>
</div>